@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

.article-page {
    font-family: 'Quicksand', sans-serif;
}
header, .article-page {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    height: 100vh;
}
nav {
    font-family: 'Source Serif Pro', serif;
}

.content {
    font-family: 'Montserrat', sans-serif;
}

.icon {
    background-color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    left: 144px;
    font-size: 22px;
    display: inline-block;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.image {
    width: 600px;
    right: 0;
}

.facebook {background-color: #3b5999; color: #ffffff;}
.twitter {background-color: #0e76a8; color: #ffffff;}
.instagram {background-color: #e1306c; color: #ffffff;}
.github {background-color: #333333; color: #ffffff;}
.sosmed a {
    margin: 0px 5px;
}
.sosmed .facebook {
    margin-left: 0;
}

.custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
}

.card-text {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-uppercase {
    letter-spacing: 0.2em;
}

.card-glas {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}


@media screen and (max-width: 1300px) {
    .image img {width: 404px;}
    .image {width: auto;right: 0;}
}
@media screen and (max-width: 992px) {
    .image img {display: none;}
}
@media screen and (max-width: 768px){
    .image img{display: none;}
    .sosmed {margin-top: 10px;}
}
